// Filters Section 
#filters {
    background-color: $light-gray;
    width: 20%;
    height: 800px;
    padding: 30px;
    font-size: 18px;
    float: left;
    display: block;

    h1{
        font-size: 24px;
        margin-bottom: 30px;
    }

    h4{
        margin-top: 40px;
        margin-bottom: 3px;
    }

    select {
        background: transparent; 
        font-size:16px;
        margin-top: 3px;
        width: 100%;
    }

    .filter {
        input[type="text"]{
            width: 43%;
            margin-right: 10px;
            font-size: 1.1rem;
            border-radius: 5px;
        }
    }
}


// Listings Section
#listings{
  width: 70%; 
  padding: 30px;
  display: inline-block;

  .listing-number{
    font-size: 28px;
  }


  //search-box section
  #search-box {
    display: flex;
    flex-direction: row-reverse;
  }

  .sort-options {
    padding-left: 10px;
    font-size: 20px;
  }
  
  .sort-by {
    margin-left: 5px;
    font-size: 18px;
  }

  input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 1px black solid;
    margin-right: 30px;
    font-size: 16px;
  }

  //pagination section
  #pagination{
    margin-top: 50px;
    text-align: center;

    ul{
        display: inline-flex;
    }
    li{
        padding: 10px;
    }
}

//gallery-results
#gallery-results {
  margin-top: 30px;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .listing{
    width: 32%;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 16px 0px rgba(173,168,173,1);
    -moz-box-shadow: 2px 2px 16px 0px rgba(173,168,173,1);
    box-shadow: 2px 2px 16px 0px rgba(173,168,173,1);
    background: linear-gradient(to top left, #d99cc4 0%, #8c1f6f 100%);
    margin: 5px 5px;
  }

  .details {
    display: none;
  }

  .listing-img {
    position: relative;
    background: url("https://i.pinimg.com/originals/50/ce/71/50ce7129b450475210f7808abe6aecfb.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 200px;
    text-align: center;
    cursor: pointer; 

    &:hover {
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      min-height: 200px;

      .details {
        display: block;
      }
    }
  }

  .agency-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    border: 2px solid white;
    background: url("http://communitywatch.us/img/11131/modern-house-inside-modern-houses-interior-designs-home-design-ideas-answersland.jpg") no-repeat center center; 
    display: inline-block;
    margin-top: 30px;
  }

  .agency-details {
   margin-top: 15px;
  }

  .agency-name {
    display: block;
    padding-bottom: 10px;
  }

  .view {
    display: block;
    background: $black;
    border-radius: 5px;
    max-width: 150px;
    padding: 5px 5px;
    margin: 0 auto;
    margin-top: 10px !important;
  }

  .listing-details {
    text-align: center;
    padding: 15px 15px; 
    color: $black;
    background-color: $white;
  }

  .price {
    padding-bottom: 10px;
  }
 }
}

#pagination {
  text-align: center;
  margin-top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;

  .pages {
      display: inline-block;
      margin: 0 auto;
      background: $white; 
      -webkit-box-shadow: 0px 0px 44px -17px rgba(232,232,232,1);
      -moz-box-shadow: 0px 0px 44px -17px rgba(232,232,232,1);
      box-shadow: 0px 0px 44px -17px rgba(232,232,232,1);

      li {
          padding: 20px 30px;
          display: inline-block;

          &.active,
          &:hover {
              background: $light-pink;
              color: $white;
              cursor: pointer;
          }
      }
  }
}


//Media queries - Responsiveness
@media screen and (max-width: 1400px) {
#search-box {
  margin-top: 20px;
 }
}


@media screen and (max-width: 1200px) {
 #listings {
   width: 69%;
   padding-top: 20px;
 }
}

@media screen and (max-width: 1090px) {
  #listings {
    width: 50%;
    padding-top: 20px;
  }
 }

@media screen and (max-width: 700px) {
    #filters {
     width: 100%;
     height: 400px;
    }
    select {
      background: transparent; 
      font-size:16px;
      margin-top: 3px;
      width: 80%;
    }

    #listings{
      width: 100%;
    }
    .sort-options {
      margin-top: 20px;
      display: inherit;
      width: 100%;
    }
    .sort-name {
      display: none;
    }
    input {
      display: none;
    }

    #pagination{
      position: static;
      width: 80%;
    }
  }

  @media screen and (max-width: 400px) {
    #filters {
      h1{
        font-size: 18px;
    }    
      select {
        background: transparent; 
        font-size:16px;
        margin-top: 3px;
        width: 90%;
    }

    #listings{
      width: 100%;
    }
    .sort-options {
      margin-top: 20px;
      display: inherit;
      width: 100%;
    }
    .sort-name {
      display: none;
    }
    input {
      display: none;
    }
  }
}