#filters {
    background-color: $light-gray;
    width: 20%;
    height: 800px;
    padding: 30px;
    font-size: 18px;
    float: left;
    display: block;

    h1{
        font-size: 24px;
        margin-bottom: 30px;
    }

    h4{
        margin-top: 40px;
        margin-bottom: 3px;
    }

    select {
        background: transparent; 
        font-size:16px;
        margin-top: 3px;
        width: 100%;
    }

    .filter {
        input[type="text"]{
            width: 43%;
            margin-right: 10px;
            font-size: 1.1rem;
            border-radius: 5px;
        }
    }
}

#listings{
  width: 70%; 
  padding: 30px;
  display: inline-block;

  .listing-number{
    font-size: 28px;
  }

  #search-box {
    display: flex;
    flex-direction: row-reverse;
  }

  .sort-options {
    padding-left: 10px;
    font-size: 20px;
  }
  
  .sort-by {
    margin-left: 5px;
    font-size: 18px;
  }
}


//Media queries - Responsiveness
@media screen and (max-width: 1400px) {
#search-box {
  margin-top: 20px;
}
}


@media screen and (max-width: 1200px) {
 #listings {
   width: 69%;
   padding-top: 20px;
 }
}

@media screen and (max-width: 1090px) {
  #listings {
    width: 50%;
    padding-top: 20px;
  }
 }

@media screen and (max-width: 700px) {
    #filters {
     width: 100%;
     height: 400px;
    }
    select {
      background: transparent; 
      font-size:16px;
      margin-top: 3px;
      width: 80%;
    }

    #listings{
      width: 100%;
    }
    .sort-options {
      margin-top: 20px;
      display: inherit;
      width: 100%;
    }
    .sort-name {
      display: none;
    }
    input {
      display: none;
    }
  }

  @media screen and (max-width: 400px) {
    #filters {
      h1{
        font-size: 18px;
    }    
      select {
        background: transparent; 
        font-size:16px;
        margin-top: 3px;
        width: 90%;
    }

    #listings{
      width: 100%;
    }
    .sort-options {
      margin-top: 20px;
      display: inherit;
      width: 100%;
    }
    .sort-name {
      display: none;
    }
    input {
      display: none;
    }
  }
}