header {
    background: $yellow;
    color: $black; 
    overflow: auto;
    padding: 30px;
    width: 100%;

    .logo {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.3rem;
    }

    nav {
        float: right;
        text-transform: capitalize;
        margin-right: 200px;

        a { 
            text-decoration: none;
            color: $black; 
            padding: 0 25px;

            &:hover {
                color: $medium-pink;
            }

            &.login-btn {
                background-color: $light-pink;
                padding: 5px 10px;
                border-radius: 5px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    nav {
     display: none;
    }
    .logo {
        text-align: center;
    }
  }